@import url('https://fonts.googleapis.com/css?family=Over+the+Rainbow');

.header-container {
  height: calc(100vh - 70px);
}

/* Headline Styles */

.headline-container {
  color: #201037;
}

.headline {
  font-family: 'Over the Rainbow', cursive;
  font-size: 70px;
  margin: 0 auto;
  padding-top: 30vh;
}

/* Blurb Styles */

.blurb-container {
  color: #333;
  font-size: 17px;
  line-height: 29px;
}

.blurb-text {
  max-width: 700px;
  margin: 0 auto;
  padding-top: 9%;
}

/* Menu Styles */

#portfolio-button,
#contact-button {
  background-color: #ff4c6b;
  margin: 10px;
}

.menu {
  position: relative;
  font-size: 20px;
}

.menu-btn {
  color: #fff;
  font-weight: bold;
  padding: 20px 10px;
}

/* responsive styles */

@media screen and (max-width: 414px) {
  .header-container {
    height: 100%;
  }

  .headline {
    font-size: 50px;
  }

  .blurb-container {
    margin: 40px 0 0;
    padding: 0 15px;
  }

  .blurb-text {
    background-color: rgba(255,255,255,.6);
    padding: 20px 12px;

  }
}

/*.contact-group {
  position: relative;
  font-size: 20px;
}

.contact-btn {
  color: #201037;
  margin: 20px 10px;
}*/



/*
typewriter effect

// animate typing
.typewriter {
  font-family: monospace;
  overflow: hidden;
  border-right: .10em solid #000;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .10em;
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite
}

// The typing effect
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

// The typewriter cursor effect
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: purple }
}
*/
