.contact-box {
  height: calc(100vh - 70px);
  min-height: 100%;
}

.contact-links {
  font-size: 20px;
  margin: 100px 10px;
}

.contact-icon {
  color: #674497;
  display: block;
  margin: 20px 10px;
}

.icon-text {
  color: #000;
  padding: 0 20px;
}

.icon-text:hover {
  color: #ff4c6b;
}

@media screen and (max-width: 414px) {
  .contact-box {
    height: calc(100vh - 120px);
  }
}
