.footer {
  background-color: #000;
  color: #e6e6f8;
  display: flex;
  height: 70px;
  padding: 1em;
  position: relative;
  bottom: 0;
  width: 100%;
}

.footer div {
  width: 50%;
}

.copyright {
  color: #e6e6f8;
  font-size: 14px;
  line-height: 30px;
  margin: 10px 0;
  padding-left: 50px;
  text-align: left;
}

.social-buttons {
  font-size: 22px;
  line-height: 30px;
  text-align: right;
  padding-right: 70px;
}

.footer-icon {
  color: #e6e6f8;
  margin: 10px;
}

.footer-icon:hover {
  color: #674497;
}
