@import url('https://fonts.googleapis.com/css?family=Over+the+Rainbow');

.hedBox {
  color: #201037;
  height: 50vh;
}

.headline {
  font-family: 'Over the Rainbow', cursive;
  font-size: 70px;
  margin: 0 auto;
  padding-top: 30vh;
}

.blurbBox {
  color: #333;
  font-size: 17px;
  height: 50vh;
  line-height: 29px;
}

.blurbText {
  max-width: 700px;
  margin: 0 auto;
  padding-top: 10%;
}




/*
typewriter effect

// animate typing
.typewriter {
  font-family: monospace;
  overflow: hidden;
  border-right: .10em solid #000;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .10em;
  animation:
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite
}

// The typing effect
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

// The typewriter cursor effect
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: purple }
}
*/
