.navbar {
  position: absolute;
  background-color: rgba(250,250,250,.5);
  height: 56px;
  padding: 20px;
  text-align: right;
  width: 100%;
}

.nav-item {
  color: #5a1dad;
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  margin: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-item:hover {
  color: #ff4c6b;
}

.selected {
  color: #ff4c6b;
}
