.navbar {
  background-color: #000;
  color: #e6e6f8;
  height: 56px;
  padding: 20px;
  text-align: right;
}

.nav-item {
  color: #e6e6f8;
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  margin: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-item:hover {
  color: #674497;
}

.selected {
  color: #674497;
}
