Button {
  margin: 5px;
}

.project-btn {
  color: #fff;
  font-weight: bold;
}

.project-desc {
  margin: 20px;
}

.project-img {
  margin: 10px;
  width: 520px;
}

.project-title {
  font-size: 20px;
  font-weight: 700;
  margin: 10px;
}
