Button {
  margin: 5px;
}

.project-btn {
  color: #fff;
  font-weight: bold;
}

.project-title,
.project-img,
.project-desc,
.project-buttons {
  margin: 10px 0;
}

.project-title {
  font-weight: 400;
}

.project-img {
  width: 520px;
}
