.footer {
  background-color: #000;
  bottom: 0;
  color: #e6e6f8;
  display: flex;
  height: 70px;
  padding: 1em;
  position: relative;
  width: 100%;
}

.footer div {
  width: 50%;
}

.copyright {
  color: #e6e6f8;
  font-size: 14px;
  line-height: 30px;
  margin: 10px 0;
  padding-left: 50px;
  text-align: left;
}

.social-buttons {
  font-size: 22px;
  line-height: 30px;
  text-align: right;
  padding-right: 70px;
}

.footer-icon {
  color: #e6e6f8;
  margin: 10px;
}

.footer-icon:hover {
  color: #674497;
}

@media screen and (max-width: 414px) {
  .footer {
    bottom: 0;
    display: block;
    height: 120px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
  }

  .footer div {
    padding: 10px 0;
    width: 100%;
  }

  .copyright {
    position: absolute;
    bottom: 0;
    text-align: center;
  }

  .social-buttons {
    font-size: 24px;
    text-align: center;
  }
}
