.project_container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 0 80px;
}

.project {
  margin: 1em;
  padding: 1em;
  width: 47%;
}

@media screen and (max-width: 414px) {
  .project_container {
    padding-bottom: 35px;
  }

  .project {
    width: 100%;
    margin: 0.5em 0;
    padding: 10px;
  }
}
