#demo-button,
#code-button {
  background-color: #ff4c6b;
  margin: 5px;
}

.project-btn {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.project-desc {
  margin: 20px;
}

.project-img {
  margin: 10px;
  max-width: 520px;
  height: 300px;
}

.project-title {
  font-size: 20px;
  font-weight: 700;
  padding: 20px 0 0;
}

@media screen and (max-width: 414px) {
  .project-img {
    height: auto;
    max-width: 100%;
    margin: 0;
  }
}
